<% content_for(:title, "Home Page | Slacker News") %>

<h1>Slacker News</h1>

<ul><% @links.recent.each do |link| %>
  <li><%= link_to "- #{link.title} -", "http://#{link.url}" %>
    <div class="index-display">
      <%= "(#{link.url})" %> | <%= link_to "+", upvote_link_path(link.id) %> | <%= "#{link.vote}" %> | <%= link_to "(edit)", edit_link_path(link.id) %>
    </div>
  </li>
<% end %>
</ul>
