<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="nav-bar">
    <%= link_to 'Home', root_path %> | <%= link_to 'New Link', new_link_path %>
  </div>

<%= yield %>
<%= flash[:alert] %>
<%= flash[:notice] %>
</body>
</html>
